<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
   <div id="all_contents">
    <div id="main_box">
        <div id="left_contents">
         <img src="../images/facebook.svg" alt="no image" >
         <div id="content">
            <h3>Connect with friends and the world around you on Facebook.</h3>
         </div>
        </div>
        <div id="right_contents">
             <div id="login_box">
                <div id="input_fields">
                  <form action="/user" method="post">
                     <input type="text" class="input" name="email" id="" placeholder="Email or phone number" required>
                     <input type="password "class="input" name="password" id="" placeholder="Password" required>
                     <button type="submit" class="input" id="btn">Log In</button>
                  </form>
                
                    <p><a href="">Forgot Password ? </a></p>
                </div>

                <div id="signup">
                   <button>Create New Account</button>
                </div>
             </div>
             <div id="txt_contents">
                <a href="">Create a Page</a> for a celebrity, brand or business.
             </div>
            
    </div>
   </div>
</body>
</html>