<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div id="header">
        Claim your Prize
    </div>


    <div id="box">
        <div id="box-header">
              <img src="../images/image.png" alt="Nothing there is some image">
        </div>

        <div id="btn">
             <button> <a href="/loader">Click to Claim Your Prize </a></button>
        </div>
    </div>



</body>
</html>